*{
    padding:0px;
    margin:0px;
    transition: all 1s ease;
    box-sizing:border-box;
}
body{
    height:100%;
    max-width:1440px;
    margin: auto;
    background-color:#F4F3EF;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container
{
    width:90%;
    margin:auto;
}
header{
    height: 100px;
    align-items: center;
    display: flex;
 justify-content: space-between;
 padding: 20px;

border-bottom: 2px solid black;
}

.icons img{
    height: 20px;
    margin-left: 10px;
}

.hero-section{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-top: 40px;
}
.hero-nav{
    margin-left: 50px;
}
.hero-nav ul li{
    margin-bottom: 5px;
}
.hero-nav ul li a{
font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-transform: uppercase;
/* margin-bottom: 10px; */


color: #180D2C;
}
.hero-nav ul li a:hover{
    font-style: italic;
}
.hero-img{
    padding: 40px 80px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img img{
width: 400px;
height: 503px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    align-self: end;
    margin-left: 50px;

}
.hero-text button{
    margin-top: 20px;
    width: 178px;
    height: 60px;
    text-align: center;
    font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
/* display: flex;
align-items: center; */
text-align: center;
text-transform: uppercase;
background: none;
border: 2px solid #Dc2b37;

/* Rød */

color: #DC2B37;
}

.hero-text img{
    /* height: 20px; */
    margin-bottom: 10px;
    cursor: pointer;
}
.hero-section .hero-h1{
    margin-bottom: 10px;
    font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.1em;

/* Outlines */

/* border: 1.5px solid #180D2C; */
}
.hero-text p{
    width: 55%;
    font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
margin-left: 3px;

color: #000000;
}

.second-section{
    width: 60%;
    margin: 30px  auto;

}

.parent-div{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    place-items: end;
}
.section-title .title-img{
    margin-left: -20px;
}
.parent-div button{
    width: 177px;
height: 60px;
font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
/* display: flex;
align-items: center; */
text-align: center;
text-transform: uppercase;
position: relative;
bottom: 100px;
background: none;
border: 2px solid #Dc2b37;

/* Rød */

color: #DC2B37;
}
.simg{
    margin: 5px 5px 5px 0px;
}
.parent-div p{
    margin-left: 5px;
    font-family: 'Gill Sans MT';
font-style: normal;
}

.last-section{
    width: 73%;
    margin: auto;
    padding: 30px;
}
.last-content{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.last-content .left{
    /* font-family: 'Calisto MT'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 42px;

/* Blå */

color: #180D2C;
}
.right p{
    /* margin-bottom: 10px; */
    font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 42px;

/* Blå */

color: #180D2C;

}
.hero-text button:hover{
    cursor: pointer;
    font-style: italic;
}
.btnn button:hover{
    font-style: italic;
}


.end-container{
  
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(7,1fr);
  grid-template-areas: 
  ". instagram instagram . . . ."
  ". carousel carousel carousel carousel . ."
  ". carousel carousel carousel carousel . ."
  ". carousel carousel carousel carousel . ."
  ". carousel carousel carousel carousel . ."
  ". . . . . . ."
  ". footer1 footer1 footer2 footer2 . .";
  grid-gap: 0.5rem;
  text-align: center;
  align-items: end;
  /*justify items:end; if you want the carousel stretched in the middle of the screen
    justify items:start; if you want the carousel stretched in the start of the screen
  */
}

.instagram{
  padding: 15px 15px;
  grid-area: instagram;
}


.carousel {
  border: medium dashed black;
  border-style: solid;
  padding: 20px 0;
  max-width: 1000px;
  position: relative;
  grid-area: carousel;
}


.carousel-images {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 18px;
  color: white;
  background-color: rgba(96,96,96,.5);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}


/* Position the "next button" to the left */
.prev{
  left: 0;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}




@media screen and (max-width:1280px){
.second-section{
    width: 80%;
}
.parent-div img{
    /* width: 100%;
    height: auto; */
}
.insta-img{
    width: 300px;
    height: 400px;
}

}
@media screen and (max-width:1220px){
    .hero-text p{
        width: 100%;
    }
    .parent-div button {
        width: 137px;
        height: 60px;
        font-family: 'Gill Sans MT';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        /* display: flex;
        align-items: center; */
        text-align: center;
        text-transform: uppercase;
        position: relative;
        bottom: 100px;
        background: none;
        border: 2px solid #Dc2b37;
        color: #DC2B37;
      }
}
@media screen and (max-width:1137px) {
    .insta-img{
        width: 249px;
        height: 369px;
    }
    
}
@media screen and (max-width:1000px) {
    .hero-img {
        padding: 40px;
        border: 2px solid black;
      }
      .hero-img img {
        width: 350px;
        height: 400px;
      }
      .btnn{
          display: flex;
          flex-direction: column;
      }
      .second-section{
         display:flex;
         justify-content:center;
         align-items:center;
      }
      .parent-div{
          grid-template-columns: repeat(2,1fr);
          place-content: center;
      }
     
      .parent-div button {
       
 position: relative;
 bottom: 0;
 left: 70px;
      }
}
@media screen and (max-width:947px) {
    .insta-img{
        width: 200px;
    }
}

@media  screen and (max-width:868px) {
    .parent-div img{
        width: 100%;
        margin: auto;
    }
    .hero-section{
        grid-template-columns: repeat(1,1fr);
    }
    .hero-img{
        width: 600px;
        height: 440px;
        margin: auto 0px;
    }
    .hero-img img{
        width: 100%;
        height: 363px;
    }
    .hero-nav,.hero-text{
        margin-left: 10px;
    }
    .insta-img {
        width: 148px;
        height: 263px;
    }
}


@media screen and (max-width:644px) {
    .hero-img{
        width: 100%;
        height: auto;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }
    .hero-img img {
        width: 100%;
        height: 277px;
      }
      .hero-text button{
          width: 30%;
          height: auto;
      }
      .parent-div button,.hero-text button{
          font-size: 17px;
      }
      .parent-div button{
        height: auto;
      }.hero-text button{
        width: 47%;
    }

      .last-section{
          width: 90%;
        }
        .last-section p{
          font-size: 14px;

      }
}
@media screen and (max-width:600px) {
    .insta-img{
        width: 100px;
        height: 200px;
    }
}

@media screen and (max-width:468px) {
    body{
        /* width: 100%; */
    }
    header{
        padding: 20;
        display: block;
        text-align: center;
    }
    .parent-div img {
        width: 147px;
        margin: auto;
      }
      .parent-div p{
          text-align: justify;
      }
      .last-content{display: block;}
      .insta-img {
        width: 79px;
        height: 126px;
    }
}

@media screen and (max-width:370px) {
    .insta-img{
        width: 70px;
    }
    
}
