*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    height:100%;
    max-width:100%;
    margin: auto;
    background-color:#F4F3EF;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.hero-nav ul li a:hover{
    font-style: italic;
}
.container
{
    width:90%;
    margin:auto;
}
header{
    height: 100px;
    align-items: center;
    display: flex;
 justify-content: space-between;
 padding: 20px;

border-bottom: 2px solid black;
}

.icons img{
    height: 20px;
    margin-left: 10px;
}


.hero-section{
   display: flex;
   justify-content: space-around;
   padding-bottom: 40px;
   margin-bottom: 40px;
}
.content{
    position: relative;
    top: 80px;
    left: 100px;
}.content img{
    margin-bottom: 50px;
}
.content p{
    width: 50%;
    font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;

}
.hero-nav{margin-top: 20px;}
.hero-nav ul li{
    margin-bottom: 10px;
}
.hero-nav ul li a{
    font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-transform: uppercase;

/* Blå */

color: #180D2C;

}

.btn{
    padding: 8px;
    background: none;
    /* Menylink inaktiv */

font-family: 'Gill Sans MT';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Rød */
margin-top: 15px;
border: 2px solid #dc2b37;
color: #DC2B37;
}
.btn:hover{
    font-style: italic;
}
.image{
   position: relative;
   top: 200px;
   right: 100px;
}

@media screen and (max-width:900px) {
    .content p{
        width: 80%;
    }
    .image{
        right: 0;
    }
    .image img{
        height: 200px;
        width: 200px;
    }
    .content {
        left: 70px;
    }
}

@media screen and (max-width:660px) {
    .hero-section{
        display: block;
    }
    .image{
        position: absolute;
        top: 100px;
        right: 10px;
    }
    .content{
        left: 0;
    }
}

@media screen and (max-width:425px) {
    header{
        display: block;
    }
    .icons{
        text-align: right;
    }
    .image img {
        height: 163px;
        width: 163px;
      }
}